<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card" id="card">
        <div class="header">
          <div class="text-right">
          </div>
        </div>
        <div class="content">
          <form class="was-validated" [formGroup]="formulaireForm" (ngSubmit)="save()">
            <div class="form-group col-md-4">
              <label for="num_dossier">Numéro Dossier:</label>
              <input type="text" class="form-control" id="num_dossier" placeholder="tapper le num de dossier ici"
                formControlName="num_dossier"
                [ngClass]="{ 'is-invalid': submitted && formControls.num_dossier.errors }">
              <div *ngIf="submitted && formControls.num_dossier.errors" class="invalid-feedback">
                <div *ngIf="formControls.num_dossier.errors.required">Num is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="convention">Convention:</label>
              <input type="text" class="form-control" id="convention" placeholder="Votre convention ici"
                formControlName="convention" 
                [ngClass]="{ 'is-invalid': submitted && formControls.convention.errors }">
                <div *ngIf="submitted && formControls.convention.errors" class="invalid-feedback">
                  <div *ngIf="formControls.convention.errors.required">convention is required</div>
                </div>
            </div>
            <div class="form-group col-md-4">
              <label for="matricule">Matricule:</label>
              <input type="text" class="form-control" id="matricule" placeholder="La matricule d'assuré étranger ici"
                name="matricule" required>
              <div class="invalid-feedback">lehna 7ot message d'erreur si ce champs vide.</div>
            </div>
            <div class="form-group col-md-6">
              <label for="nom">Nom ASS:</label>
              <input type="text" class="form-control" id="nom" placeholder="Le nom d'assuré étranger ici" name="nom">
              <div class="invalid-feedback">lehna 7ot message d'erreur si ce champs vide.</div>
            </div>
            <div class="form-group col-md-6">
              <label for="prenom">Prénom ASS:</label>
              <input type="text" class="form-control" id="prenom" placeholder="Le prénom d'assuré étranger ici"
                name="prenom">
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>

            <div class="form-group col-md-4">
              <label for="date etablissement">Date Etablissement:</label>
              <input type="date" class="form-control" id="date etablissement"
                placeholder="tapper la date d'établissement ici" name="date etablissement">
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group col-md-4">
              <label for="date debut">Date Debut:</label>
              <input type="date" class="form-control" id="date debut" placeholder="tapper la date de debut ici"
                name="date debut">
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group col-md-4">
              <label for="date fin">Date Fin:</label>
              <input type="date" class="form-control" id="date fin" placeholder="tapper la date de fin ici"
                name="date fin">
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group col-md-3">
              <label for="code caisse">Code Caisse:</label>
              <select class="form-control" id="code caisse">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group col-md-3">
              <label for="type formulaire">Type Formulaire:</label>
              <select class="form-control" id="code caisse">
                <option>formulaire...</option>
                <option>formulaire...</option>
              </select>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="content table-responsive table-full-width">
              <table class="table table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th>Les ayants droits</th>
                    <th> Type</th>
                    <th> Rang</th>
                    <th> Nom</th>
                    <th> Prénom</th>
                    <th> Situation</th>
                    <th>Date Debut</th>
                    <th>Date Fin</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <select id="lea ayants droits">
                        <option>Assuré</option>
                        <option>Conjoint</option>
                        <option>Enfant</option>
                      </select></td>
                    <td>
                      <input type="text" class="form-control" id="type" name="type" required>
                    </td>
                    <td>
                      <input type="number" class="form-control" id="rang" name="rang" required>
                    </td>
                    <td>
                      <input type="text" class="form-control" id="nom" name="nom" required>
                    </td>
                    <td>

                      <input type="text" class="form-control" id="prénom" name="prénom" required>
                    </td>
                    <td>
                      <select id="situation">
                        <option>Célibataire</option>
                        <option>Marié</option>
                      </select></td>
                    <td>
                      <input type="date" class="form-control" id="date debut" name="date debut" required>
                    </td>
                    <td>
                      <input type="date" class="form-control" id="date fin" name="date fin" required>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-success btn-fill"><i class="ti-save"></i> Enregister</button>
              <a [routerLink]="['/dashboard/Formulaires']" class="btn btn-danger btn-fill"><i class="ti-close"></i>
                Quitter</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>