<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="header"> 
          <div class="text-right">
          </div>
        </div>
        <div class="content table-responsive table-full-width">
            
              <a [routerLink]="['/spécifier les montants']" class="btn btn-defaul " ><i class="ti-money"></i> spécifier les montants</a>
            <a [routerLink]="['/consulter avis medical valide']" class="btn btn-default " ><i class="ti-list"></i> consulter avis medical valide</a>
            
            
            
        </div>
      </div>
    </div>
  </div>
</div>