<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="header">
          <div class="text-right">
            <a [routerLink]="['/dashboard/Formulaires/create']">
              <button class="btn btn-primary btn-fill"><i class="ti-plus"></i> Ajouter Formulaire</button>
            </a>
          </div>
        </div>
        <div class="content table-responsive table-full-width">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th>ID</th>
                <th> Nom</th>
                <th> Prénom </th>
                <th> Matricule</th>
                <th> Date</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let formulaire of gestionFormulaire">
                <td>{{ formulaire.id }}</td>
                <td>{{ formulaire.nom }}</td>
                <td>{{ formulaire.prenom  }}</td>
                <td>{{ formulaire.matricule }}</td>
                <td>{{ formulaire.date }}</td>
                <td>
                  <a [routerLink]="['/Formulaires/details/', formulaire.id]" class="btn btn-info">Détails</a>
                  <a [routerLink]="['/Formulaires/edit/', formulaire.id]" class="btn btn-warning">Modifier</a>
                  <a (click)=delete(formulaire.id) class="btn btn-danger">Supprimer</a>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>