<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header"> 
            <div class="text-right">
            </div>
          </div>
          <div class="content table-responsive table-full-width">
              
                <a [routerLink]="['/autorisation']" class="btn btn-defaul " ><i class="ti-user"></i> Gestion des autorisations</a>
              <a [routerLink]="['/Parametrage']" class="btn btn-default " ><i class="ti-comment-alt"></i> paramétrage des formulaires</a>
              <a [routerLink]="['/']"class="btn btn-defaul " ><i class="ti-money"></i> Paramétrage des caisses</a>
              <a [routerLink]="['/convantion']" class="btn btn-defaul " ><i class="ti-comment-alt"></i> Paramétrage des conventions</a>
              
          </div>
        </div>
      </div>
    </div>
  </div>