<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="header">
          <div class="text-right">

          </div>
        </div>

        <div class="content table-responsive table-full-width">
         
          <a [routerLink]="['/administrative/create/']" class="btn btn-default btn-lg"><i class="ti-plus"></i> création dossier</a>
          <a [routerLink]="['/saisie']" class="btn btn-defaul  btn-lg"><i class="ti-pencil"></i> saisir dossier</a>

          <button class="btn btn-defaul btn-lg"><i class="ti-shine"></i> les correspondances</button>
          <button class="btn btn-defaul btn-lg"><i class="ti-announcement"></i> traiter les reclamations</button>

        </div>
      </div>
    </div>
  </div>
</div>