<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header"> 
            <div class="text-right">
            </div>
          </div>
          <div class="content table-responsive table-full-width">
              <a [routerLink]="['/medical/create/']">
              <button class="btn btn-default btn-lg" ><i class="ti-pencil"></i> Donner Avis</button> </a>
              <button class="btn btn-defaul btn-lg" ><i class="ti-announcement"></i> traiter les reclamations</button>
          </div>
        </div>
      </div>
    </div>
  </div>